{#
AmazonPay for EC-CUBE4
Copyright(c) 2018 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}

<style>
    .AmazonPayButton {
        margin: 10px;
        width: max-content !important;
        width: -moz-max-content !important;
        width: -webkit-max-content !important;
    }
</style>

<script>
    $(function () {
        // ボタンを設置
        $("div.ec-productRole__description").before($("#AmazonPayButton"));
    });
</script>

<div class="d-none">
    <p id="AmazonPayButton" class="AmazonPayButton"></p>
</div>
